@use '../mixins/pseudo.scss' as *;
@use '../mixins/responsive.scss' as *;

.main {
  &::after,
  &::before {
    @include pseudo(510px, 1018px) {
      left: -322px;
      top: -609px;
      background-image: var(--gradient);
      border-radius: 15.9375rem;
      z-index: -1;
    }
  }

  &::before {
    left: 188px;
    top: 427px;
    opacity: 0.03;
  }

  @include responsive(laptop) {
    display: flex;
    justify-content: center;
    gap: 125px;
  }
}
