/* se hace con top: 64px y no con margin porque los márgenes no se utilizan para mover cosas */

@use '../mixins/pseudo.scss' as *;
@use '../mixins/responsive.scss' as *;

.mobile {
  position: relative;
  top: 64px;
  width: 247px;
  height: 505px;
  margin-inline: auto;
  border: 11px solid var(--white);
  border-radius: 1.875rem;
  background-color: var(--mobile-background);
  box-shadow: 0 1.875rem 3.75rem -0.625rem rgba(62, 39, 83, 0.25);

  &__header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 66px;
    padding-inline: 16px;
    padding-top: 20px;
    background-image: var(--gradient);
    border-radius: 1.25rem 1.25rem 0.375rem 0.375rem;

    &::after {
      @include pseudo(129px, 29px) {
        background-color: var(--white);
        top: -10px;
        left: 50%;
        translate: -50%;
        border-radius: 0 0 14px 14px;
      }
    }
  }

  &__messages {
    display: flex;
    flex-direction: column;
    padding: 11px 7.5px 10px 7.5px;
    gap: 8px;
  }

  &__message {
    width: fit-content;
    max-width: 60%;
    margin-block: 0;
    padding: 6px 9px;
    border-radius: 0.625rem 0.625rem 0.625rem 0.25rem;
    color: var(--message-color);
    background-color: var(--message-background);
    font-size: 0.5rem;
    line-height: 11px;

    &-container-right > * {
      margin-block: 8px;
    }

    &-container-img {
      display: flex;
      gap: 0.5rem;
      justify-content: flex-end;

      & > * {
        width: 40px;
        border-radius: 0.625rem;
      }
    }

    &--right {
      margin-left: auto;
      gap: 0.5rem;
    }

    &--right:not(&-container-img) {
      background-color: var(--white);
      border-radius: 0.625rem 0.625rem 0.25rem 0.625rem;
      box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.05);
    }
  }

  &__booking-option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 75%;
    border-radius: 0.625rem 0.625rem 0.625rem 0.25rem;
    padding: 0.6875rem 1rem 0.625rem 0.5rem;
    color: var(--white);
    background-image: var(--gradient-reverse);
    font-size: 0.5rem;
  }

  &__type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.0625rem;
    padding: 4.8px 4px 4.8px 19px;
    margin-top: 4px;
    color: var(--type-a-message);
    background-color: var(--white);
    font-size: 0.5625rem;
    line-height: normal;

    &-a-message {
      margin-block: 0;
    }
  }

  @include responsive(laptop) {
    top: 148px;
    margin: 0;
  }
}

/* Esto también podría ser margin-left: auto, valen cualquiera de las dos opciones */

/* &--right {
  align-items: self-end;
} */

//
//

/* .mobile-phone {
  display: flex;
  justify-content: center;

  &__background {
    position: relative;
    width: 247px;
    height: 505px;
    background-color: #ffffff;
    border-radius: 1.875rem;
    box-shadow: 0 1.875rem 3.75rem -0.625rem rgba(62, 39, 83, 0.25);
    margin-top: 4rem;

    &::after {
      @include pseudo(129px, 29px) {
        top: 0;
        left: 59px;
        background-color: #ffffff;
        border-radius: 0 0 0.875rem 0.875rem;
      }
    }

    &::before {
      @include pseudo(228px, 483px) {
        top: 11px;
        left: 9.5px;
        background-color: #f5f3f7;
        border-radius: 1.25rem;
      }
    }
  }

  &__dog-walker-user {
    position: absolute;
    top: 11px;
    left: 9.5px;
    width: 228px;
    height: 66px;
    border-radius: 20px 20px 6px 6px;
    background: linear-gradient(74deg, #8739ff, #e844ff);
  }
} */
