.user {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &__profile-image {
    width: 24px;
    border-radius: 50%;
    border: 1px solid white;
  }

  &__name,
  &__status {
    display: block;
  }

  &__name {
    font-size: 11px;
    color: white;
    margin-bottom: 2px;
  }

  &__status {
    font-size: 0.5rem;
    color: #d99eff;
  }
}
