/* Variables CSS */
/* Hay que utilizar estas porque siguen existiendo después de compilar, las de SASS se convierten en el código de color, por tanto, se destruyen y no pueden modificarse */
/* escribir aquí */

:root {
  --bg-color: #fafafa;
  --gradient: linear-gradient(225deg, #e844ff 0%, #8739ff 100%);
  --gradient-reverse: linear-gradient(160deg, #e844ff 0%, #8739ff 100%);
  --mobile-background: #f5f3f7;
  --message-color: #9341c8;
  --message-background: #eee5f4;
  --type-a-message: #C5C9CC; 

  --white: #ffffff;
}

/* Variables SASS */
/* no usar estas */

$primaryColor: red;
